  .login-container {
    width: 300px;
    margin: 140px 600px;
    padding: 75px;
    background-color: #444;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .logininfo    {
    color: #ffffff;
  }

  .login-forms  {
    margin-right: 20px;
  }

  .logintitle {
    text-align: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 60px;
  }
  
  .login-input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-info {
    margin: 10px 10px 0px 0px;
    width: 100%;
    padding: 10px;
    border: 3px solid #245cc2;
    border-radius: 8px;
  }
  
  .button-group {
    margin-top: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  
  .button-group > .loginbtn {
    width: 100%;
    background-color: #4CAF50;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  .button-group > .signupbtn {
    width: 33%;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    margin-top: 14px;
  }

  .button-group > .findidbtn {
    width: 33%;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
  }

  .button-group > .findpwbtn {
    width: 33%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
  }
  
  button[type="submit"] {
    color: white;
    font-size: 20px;
  }

  .button-group > div {
    margin-top: 15px;
  }
  