body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
}

.movie-detail-container {
    padding: 20px;
}

.movie-introduction {
    display: flex;
    margin-bottom: 20px;
}

.movie-image {
    width: 200px; /* 영화 이미지의 너비 */
    height: auto; /* 비율에 맞추어 높이 조정 */
    margin-right: 20px;
}

.movie-info {
    max-width: 600px; /* 정보 부분의 최대 너비 */
}

.review-section {
    margin-top: 30px;
}

.review-input {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
}

.submit-review {
    padding: 10px 15px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-review:hover {
    background-color: #777;
}

.existing-reviews {
    margin-top: 30px;
}

.review {
    background-color: #222;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.review-details {
    display: flex;
    justify-content: space-between;
}

.review-rating {
    margin-top: 5px;
}

.like-button, .dislike-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.like-button:hover, .dislike-button:hover {
    background-color: #666;
}
