body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
}

.movie-detail-container {
    padding: 20px;
}

.movie-information  {
    display: flex;
}

.movie-introduction {
    display: flex;
}

.movie-image {
    width: 450px; /* 영화 이미지의 너비 */
    height: 600px;
    margin-top: 25px;
    margin-right: 40px;
}

.movie-info {
    position: relative;
    max-width: 700px; /* 정보 부분의 최대 너비 */
}

.movie-info-content  {
    line-height: 1.35;
}

.movie-crew {
    margin-left: 30px;
}

.actors {
    display: flex;
}

.actor  {
    margin-right: 60px;
}