.profile-container {
    max-width: 800px;
    margin: 100px auto;
    padding: 40px;
    background-color: #444;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-title {
    text-align: left;   
}

.profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}   

.profile-picture img {
    width: 200px; /* 이미지 크기 조절 */
    height: 200px; /* 이미지 크기 조절 */
    border-radius: 30%; /* 이미지도 동그라미 모양 */
    object-fit: cover; /* 비율 유지 */
}

.profile-form-group {
    margin: 15px auto;
    text-align: center;
}

.profile-label {
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 30px;
}

.profile-label > span   {
    font-size: 14px;
    text-decoration: underline;
    color:rgb(54, 204, 134);
}

.profile-input {
    width: 75%;
    padding: 10px;
    border: 1px solid #245cc2;
    border-radius: 4px;
}

.profile-description {
    margin: 15px 0;
    text-align: center;
}

.profile-selection {
    margin: 30px;
}

.profile-selection > h2 {
    text-align: center;
}

.profile-genre-button {
    padding: 10px 25px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.profile-genres {
    width: 745px;
    text-align: center;
}

.profile-buttons {
    text-align: center;
}

.profile-save, .profile-cancel{
    padding: 10px 25px;
    margin: 5px 25px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background 0.3s;
}

.profile-check  {
    padding: 7px 15px;
    margin: 7px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    transition: background 0.3s;
}

.profile-save:hover, .profile-cancel:hover {
    background-color: #0056b3;
}

.profile-check  {
    margin-left: 50px;
}

#action {
    background-color: #FF5733;
}

#thriller   {
    background-color: #900C3F;
}

#animation  {
    background-color: #FFC300;
}

#comedy {
    background-color: #28B463;
}

#drama  {
    background-color: #3498DB;
}

#fantacy    {
    background-color: #8E44AD;
}

#horror {
    background-color: #C0392B;
}

#war    {
    background-color: #7D3C98;
}

#romance    {
    background-color: #EAB8D1;
}

#sf {
    background-color: #2E86C1;
}

.profile-face   {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}

.user-value {
    margin: 0 auto;
    padding: 15px;
    background-color: #c0c1c2;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    width: 40%;
    font-weight: bold;
}