body {
  background-color: black;
}

.app {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  min-height: 100vh; /* 최소 높이 설정 */
  padding-top:80px;
}

.header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: #333;
  z-index: 9999;
  border-radius: 8px;
  font-size: 17px;
}

.header-nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
  flex: 1;
}

.navigation-bar {
  margin-top: 60px;
  z-index:9999;
  position: fixed;
  border-radius: 15px;
  font-size: 18px;
  width: 200px;
  background-color: #222;
}

.navigation-bar ul {
  list-style-type: none;
  padding: 0px 15px;
}

.navigation-bar li.genre {
  padding: 10px;
  margin: 15px 0px;
  cursor: pointer;
  transition: background 0.1s;
  border-radius: 10px;
}

.navigation-bar .genre:hover {
  background-color: #444;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 200px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
}

.genrechoice  {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid #444;
  color: #cec1c1;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-in;
}
